<beans:beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:security="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http use-expressions="true" auto-config="true">
		<security:intercept-url pattern="/css/**" filters="none" />
		<security:intercept-url pattern="/images/**" filters="none" />
		
		<security:intercept-url pattern="/login*" access="isAnonymous()" />
		<security:intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
		
		<security:form-login login-page="/login" default-target-url="/index" authentication-failure-url="/loginfailed" />
		<security:logout logout-success-url="/logout" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider ref="mutablePasswordAuthenticationProvider" />
	</security:authentication-manager>

	<bean id="mutablePasswordAuthenticationProvider" class="abid.password.springmvc.MutablePasswordAuthenticationProvider" />

</beans:beans>